/*css-reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body{
    font-family:'Montserrat', sans-serif;
}


img{
    width: 100%;
    display: block;
}

a{
    display: block;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
}

footer{
    justify-content: flex-end;
    flex-shrink: 0;
    height: 90px;

    
}

header{
    height: 90px;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    right: 0; 
    background-color: #080b128e;
    display: flex;
    justify-content: flex-end;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.side-bar{
    flex-basis: 40px;
    flex-shrink: 0;
    background-color: #000000;
    padding: 0 5px 10px 5px;
    display: flex;
    flex-direction: column;
}

.main-card{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #141922;
    overflow-y: auto;
}

.main-content{
    flex-grow: 1;   
}
/* micro layout */
.main-content .row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 15px -5px 0 -5px;
}

.main-content .col{
    width: 50%;
    min-height: 275px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* text */
h2, h3, h4, .side-bar,
.main-content nav a,
.main-content section *{
    font-weight: 600;
}

.playlist *, .playlist h2, 
.account, .main-content nav a, 
.main-content .info-cont h4,
.main-content section p,
.main-content .info-cont h3{
    font-size: 12px;
}

.main-content section h2{
    font-size: 20px;
}

/*color*/
.side-bar *, .nav-top img,
.main-content nav a, 
.main-content .info-cont h4,
.main-content section p{
    /* grey light */
    color:#A0A1A0
}
.logo img{
    /* grey light svg */
    fill: #000000
}

.playlist h2, .account h3,
.main-content section h2,
.main-content .info-cont h3{
    /* white */
    color: #fff;
}
/*bg*/


/*btn*/
.btn{ 
    border: 1px solid;
    border-color: transparent; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn.btn-upgrade{
    border-radius: 25px; 
    border-color: white;
    background-color: transparent;
    width: 175px;
    height: 40px;
    margin: 15px 5px 0 0;
}
/*utilities*/

/*header*/
header .btn a{
    color: #fff;
    font-size: 12px;
}

/*sidebar layout*/
.logo{
    flex-basis: 45px;
}
.nav-top{
    flex-basis: 120px;
    padding: 0px 3px;
}

.playlist{
    flex-basis: 100%;
    flex-grow: 1;
}

.account{
    flex-basis: 65px;
}

/* sidebar logo */
.side-bar .logo{
    padding: 5px 0 15px 0;
}

.logo a:last-child{
    width: 80%;
    display:none;
}

/* sidebar nav-top */
.nav-top ul h4{
    display: none;
    font-size: 12px;
}
.nav-top ul img{
    width: 24px;
}
.nav-top ul a{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

/* sidebar playlist */
.playlist .to-hide{
    display: none;
    margin-top: 15px;
}

.create-playlist{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 0;
}

.create-playlist i{
    font-size: 30px;
}
    

.playlist li{
    margin: 10px 0;
}

/* account footer side-bar */
.install img{
    width: 15px;
}
.user img{
    width: 22px;
}

.user a:first-child{
    background-color: #A0A1A0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.account .install, .account .user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.border-account{
    width: 100%;
    border: 1px solid #A0A1A0;
}

.account .install, .border-account{
    margin-bottom: 10px;
}

.side-bar .account a:last-child, .side-bar .border-account{
    display:none;
}

/* main-content*/
.main-content{
    padding: 15px;
}

/* main-content - top nav-bar*/
.main-content nav ul{
    max-height: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.main-content nav ul li{
    flex-basis: 25%;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}


/* main-content - sections */
#recently{
    margin-top: 55px;
}

.main-content .col .info-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 0 13px;
}

#user-mix , #popular {
    margin-top:25px;
}

#user-mix p, #popular p{
    margin: 10px 0 20px 0;
}


/* footer spotify console */

footer .row{
    width: 100%;
    height: 100%;
    background-color: #2D2C2B;
    display: flex;
    justify-content: space-between;
}

footer .row *{
  border: 1px dashed orange;
}

.col-left, .col-right{
    width: 150px;
    align-self: center;
    display: flex;
    align-items: center;
    padding: 10px;
   
}

.col-mid{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

/* footer col mid */
.console, .time-box{
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.console{
    justify-content: center;
    gap: 20px;
}

.console .btn{
    height: 20px;
    width: 20px;
}

.console .btn:nth-child(3){
    height: 25px;
    width: 25px;
}

.time-box{
    justify-content: space-around;
    gap: 10px;
}
.current-time, .time-song{
    height: 5px;
    min-width: 20px;
}

.time-bar{
    flex-grow: 1;
}

/* footer col left */
.col-left .box-img{
    height: 40px;
    width: 40px;
}

.song{
    flex-grow: 1;
    height: 40px;
}

.song *{
    height: 12px;
    margin-bottom: 1px;
}

.btn-row-left{
    width:45px;
    height: 40px;
    display: flex;
    flex-direction: column;
}

/* footer col right */
.col-right ul{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.col-right ul li{
    height: 20px;
    width: 20px;
}

.col-right ul li:last-child{
    height: 20px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}












